*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
.main-container{
    max-width: 400px;
    width: 90%;
    margin: 4rem auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.qr-container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

#text-field{
    padding: 0.5rem 1rem;
}

#generate-qr{
    padding: 0.5rem 1rem;
}
#qr-code{
    display: flex;
    justify-content: center;
}